<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" content="Reimagining the world wide web">
  <wc-title title="Webcon" head prerender></wc-title>
</head>

<body>
  <header>

  </header>
  <main>
    <wc-welcome color="green" message="Hello, World!" prerender></wc-welcome>
    <wc-welcome color="blue" message="Hello, Wasteland!" shadow></wc-welcome>
    <wc-welcome color="red" message="Hello, DOM!"></wc-welcome>
  </main>
  <footer>

  </footer>
</body>

<script src="static/webcon.js"></script>

</html>
